<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomeStead</title>
    <meta name="description" content="HomeStead Status">
    <link rel="stylesheet" href="/public/stupid.css" type="text/css">
    <link rel="stylesheet" href="/public/homestead.css" type="text/css">
  </head>
  <body>
<div class="padded frame">
<div class="fill middle">
</div>
<div class="container">
<div class="content">
<div class="article">
</div>
<footer>© 2016 <a href="https://homestead.akb.io">HomeStead</a></footer>
</div>
</div>
</body>
</html>


