<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomeStead</title>
    <meta name="description" content="HomeStead Status">
    <link rel="stylesheet" href="/public/stupid.css" type="text/css">
    <link rel="stylesheet" href="/public/homestead.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>
  <body>
  <div class="container">
  <div class="third" id="low-temp" style="width: 300px; height: 200px;"></div>
{{ range .TopData }}
<b>{{ .Name }}</b> avg: {{ .Avg }} min: {{ .Min }} max: {{.Max }}
<div class="third" id="gauge_{{ .Name }}" class="speedgauge" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
{{ end }}
  <div class="third" id="high-temp" style="width: 300px; height: 200px;"></div>
<div class="container" id="linedata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<footer>© 2016 <a href="https://homestead.akb.io">HomeStead</a></footer>
<script>
var lineData = [
{{ range .MonthData.Metrics }}
{{ .JSON | marshal }},
{{ end }}
];

// Todo , this will break with more sensors.
var gaugeData = {
{{ range .TopData }}
"{{ .Name }}_avg": {{ .Avg }},
"{{ .Name }}_min": {{ .Min }},
"{{ .Name }}_max": {{.Max }}
{{ end }}
};
</script>
<script src="/public/charts.js"></script>
</body>
</html>


